transformers==4.17.0
pydantic==1.8.2
pymongo==3.11.4
pytorch_lightning==1.5.10
numpy>=1.19.5
datasets==1.12.0
torch>=1.10.0
docker==5.0.0
kaggle==1.5.12
pysocks==1.7.1
h5py>=3.1.0
sentencepiece==0.1.96
cmake
checksumdir
scipy
sklearn
nltk
tqdm
graphviz
spacy
deepspeed==0.5.10
Ninja
fairscale==0.4.6
clean-text[gpl,sklearn]
periodictable
chemparse